# Ignore all bin and obj directories
aspnetcoreapp/bin/
aspnetcoreapp/obj/

# Optional: Ignore specific files or directories (already covered by the above rules)
# aspnetcoreapp/bin/Debug/net8.0/
# aspnetcoreapp/obj/Debug/net8.0/
# aspnetcoreapp/obj/
aspnetcoreapp/appsettings.json