aspnetcoreapp/bin/Debug/net8.0/aspnetcoreapp.dll
aspnetcoreapp/bin/Debug/net8.0/aspnetcoreapp.pdb
aspnetcoreapp/obj/Debug/net8.0/aspnetcoreapp.AssemblyInfo.cs
aspnetcoreapp/obj/Debug/net8.0/aspnetcoreapp.AssemblyInfoInputs.cache
aspnetcoreapp/obj/Debug/net8.0/aspnetcoreapp.GeneratedMSBuildEditorConfig.editorconfig
aspnetcoreapp/obj/Debug/net8.0/aspnetcoreapp.assets.cache
aspnetcoreapp/obj/Debug/net8.0/aspnetcoreapp.csproj.CoreCompileInputs.cache
aspnetcoreapp/obj/Debug/net8.0/aspnetcoreapp.csproj.FileListAbsolute.txt
aspnetcoreapp/obj/Debug/net8.0/aspnetcoreapp.dll
aspnetcoreapp/obj/Debug/net8.0/aspnetcoreapp.pdb
aspnetcoreapp/obj/Debug/net8.0/aspnetcoreapp.sourcelink.json
aspnetcoreapp/obj/Debug/net8.0/ref/aspnetcoreapp.dll
aspnetcoreapp/obj/Debug/net8.0/refint/aspnetcoreapp.dll
aspnetcoreapp/obj/aspnetcoreapp.csproj.nuget.dgspec.json
aspnetcoreapp/obj/project.assets.json
aspnetcoreapp/obj/project.nuget.cache

**/bin/
**/obj/
*.sln
*.user
*.vscode/